/* 
BEM设计模块

模块（没有前缀，多个单词用 - 连接）
元素（元素在模块之后，可以有多个层级，以 __ 连接）
修饰（某元素、某模块特别的状态，必须有一个状态名和状态值，用 _ 连接）

 */

/* 
	header部分
*/
.header {
  background-color: #f7f7f7;
}
.header__wrap {
  position: relative;
  height: 80px;
  width: 1200px;
  margin: 0 auto;
}
.header__logo {
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 20px;

  width: 150px;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  color: #07111b;
  /* 文本块首行的缩进 */
  text-indent: 50px;
  background: url("../images/0-logo.png") left center no-repeat;
  background-size: 38px 38px;
}
.header__nav {
  position: absolute;
  height: 38px;
  right: 24px;
  top: 50%;
  margin-top: -19px;
  /* float: right;
  margin-right: 24px; */
}
.header__nav-item {
  font-size: 14px;
  color: #07111b;
  margin-right: 47px;
  display: block;
  float: left;
  line-height: 38px;
  height: 36px;
  border-bottom: 2px solid #f7f7f7;
}
.header__nav-item:hover {
  display: inline-block;
  color: #f01400;
  border-bottom: 2px solid #f01400;
}
/* .header__nav-item_status_active {
} */
.header__nav-item-btn {
  display: block;
  float: left;
  width: 90px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #07111b;
  border-radius: 1px;
}

/* 
	第一屏
*/
.screen-1 {
  height: 800px;
  background: url("../images/1-background.png") no-repeat center;
  position: relative;
  /* overflow: hidden ; */
  background-size: cover;
}

.screen-1__heading {
  font-size: 48px;
  color: #4d555d;
  padding-top: 155px;
  text-align: center;
}
.screen-1__heading b {
  color: #f01414;
  font-weight: normal;
}
.screen-1__phone {
  width: 1375px;
  height: 305px;
  background: url("../images/1-phone.png") no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -687px;
  bottom: 180px;
  z-index: 2;
}
.screen-1__shadow {
  width: 1233px;
  height: 411px;
  background: url("../images/1-shadow.png") no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -616px;
  bottom: 30px;
  z-index: 1;
}

/* 
	第二屏
*/
.screen-2 {
  height: 800px;
  position: relative;
  background-color: #fafafa;
  overflow: hidden;
}
.screen-2__heading {
  font-size: 48px;
  color: #f01414;
  padding-top: 96px;
  text-align: center;
}
.screen-2__subheading {
  font-size: 16px;
  line-height: 28px;
  /* padding-top: 36px; */
  padding-top: 30px;
  color: #07111b;
  text-align: center;
}

.screen-2__phone {
  width: 928px;
  height: 531px;
  background: url("../images/2-phone.png") no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -464px;
  bottom: 0;
}
.screen-2__point {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #4d555d;
  width: 207px;
  background: url("../images/2-point.png") no-repeat center right;
}
.screen-2__point_custom_right {
  padding-left: 112px;
  background: url("../images/2-point-right.png") no-repeat center left;
}
.screen-2__point_i_1 {
  position: absolute;
  top: 156px;
  left: -153px;
}
.screen-2__point_i_2 {
  position: absolute;
  top: 36px;
  left: 578px;
}
.screen-2__point_i_3 {
  position: absolute;
  top: 340px;
  left: 682px;
}

/* 
	第三屏
*/
.screen-3 {
  background: url("../images/3-background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.screen-3 .contain {
  position: relative;
  height: 800px;
}
.screen-3__heading {
  font-size: 48px;
  color: #fff;
  padding-top: 95px;
  padding-left: 10px;
}
.screen-3__subheading {
  padding-left: 10px;
  font-size: 16px;
  line-height: 28px;
  padding-top: 30px;
  color: #fff;
}

.screen-3__phone {
  width: 793px;
  height: 607px;
  background: url("../images/3-phone.png") no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}
.screen-3__box {
  position: absolute;
  width: 304px;
  height: 264px;
  left: 3px;
  bottom: 139px;
  /* top: 176px; */
}
.screen-3__box__item {
  width: 45%;
  height: 45%;
  border-radius: 3px;
  border: 1px solid #cc7173;
  float: left;
  margin-right: 7%;
}
.screen-3__box__item:nth-child(2),
.screen-3__box__item:last-of-type {
  margin-right: 0;
}
.screen-3__box__item:first-of-type {
  margin-bottom: 9%;
}
.screen-3__box p {
  color: #fff;
  text-align: center;
}
.screen-3__box__item-num {
  font-size: 48px;
  font-weight: lighter;
  padding: 32px 0 8px 0;
  /* margin-top: 33px; */
  line-height: 40px;
}
.screen-3__box__item-des {
  font-size: 16px;
}

/* 
	第四屏
*/
.screen-4 .contain {
  position: relative;
  height: 800px;
}
.screen-4__heading {
  font-size: 48px;
  color: #f01414;
  padding-top: 135px;
  text-align: center;
}
.screen-4__subheading {
  font-size: 16px;
  color: #07111b;
  padding-top: 36px;
  text-align: center;
}
.screen-4__phone {
  height: 339px;
  width: 1145px;
  padding-top: 74px;
  position: absolute;
  left: 50%;
  margin-left: -572px;
}
.screen-4__phone > li {
  height: 340px;
  width: 215px;
  float: left;
  margin-right: 95px;
}
.screen-4__phone > li:last-of-type {
  margin-right: 0;
}
.screen-4__phone__pic {
  height: 267px;
  width: 214px;
}
.screen-4__phone__pic1 {
  background: url("../images/4-phone.png") no-repeat -30px -2px;
}
.screen-4__phone__pic2 {
  background: url("../images/4-phone.png") no-repeat -300px -1px;
}
.screen-4__phone__pic3 {
  background: url("../images/4-phone.png") no-repeat -30px -272px;
}
.screen-4__phone__pic4 {
  background: url("../images/4-phone.png") no-repeat -300px -272px;
}

.screen-4__phone p {
  text-align: center;
}
.screen-4__phone__colortext {
  font-size: 16px;
  line-height: 16px;
  color: #07111b;
  padding: 32px 0 13px 0;
}
.screen-4__phone__model {
  font-size: 12px;
  line-height: 12px;
  color: #93999f;
  /* bottom: 0 */
}

/* 
	第五屏
*/
.screen-5 {
  height: 800px;
  background-color: #d9dde1;
  position: relative;
  overflow: hidden;
}
.screen-5__heading {
  font-size: 48px;
  color: #f01414;
  padding-top: 135px;
  text-align: center;
}
.screen-5__subheading {
  font-size: 16px;
  color: #07111b;
  padding-top: 36px;
  text-align: center;
}
.screen-5__phone {
  width: 2652px;
  height: 538px;
  background: url("../images/5-background.png") no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -1346px;
  /* top: 136px; */
  bottom: -105px;
}

/* 
  第六屏
*/
.screen-6 {
  height: 320px;
  background: #2b333b url("../images/6-background.png") no-repeat center;
  position: relative;
}
.screen-6__btn {
  display: block;
  width: 240px;
  height: 80px;
  line-height: 80px;
  background-color: #f01414;
  color: #fff;
  text-align: center;
  font-size: 24px;
  border-radius: 3px;

  position: absolute;
  left: 50%;
  margin-left: -120px;
  top: 50%;
  margin-top: -40px;
}

/* 
  页脚
*/
.footer {
  background-color: #282828;
  height: 80px;
}
.footer p {
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 12px;
}
